New Feature Request - Optionally run DHCPv6 server on WAN interface when no IPv6 address Prefix is delegated from ISP

Add an option to run DHCPv6 server on WAN interface when IPv6 address prefix is not delegated from ISP.
Take the ::/64 prefix from the address assigned by DHCPv6 client and use it as base for stateful address assignments for clients DHCPv6 requests coming from the LAN interface (make sure the client DHCPv6 requests are relayed to the WAN interface).

Is it possible to hack together some way to do this?

My use case: having a stable ip address for client devices (i.e. not using SLAAC) in the scenario when my upstream doesn’t support PD. A stable IP address allows me to reliably allow incoming traffic to a particular device.



> Take the ::/64 prefix from the address assigned by DHCPv6 client and use it as base for stateful address assignments for clients DHCPv6 requests

Not sure I understand...if your OpenWRT box has gotten an address via DHCPv6, you have no addresses to assign to clients?


> As I see it, there are two possible ways for DHCPv6 to serve GUAs to clients: either through the WAN interface or via the LAN-side DHCP server. Since GUAs are assigned from the WAN,

I still don't understand, how does your WAN end up with GUA assignments (plural) in the first place?




> > I still don't understand, how does your WAN end up with GUA assignments (plural) in the first place?
> WAN GUA is assigned via DHCPv6 client (odhcp6c)

Then you have no GUAs to assign to downstream clients since the WAN GUA is a `::/128` assignment - i.e. a single IPv6 address.

I have to admit that my responses are confusing, sorry about that. The reason they are confusing is the fact that I do not quite understand how OpenWrt configures wan6 interface based on ISP RA message.

> 1. How do you know that you have a `::/64`? Which steps/commands did you run to determine this and what was their output?

The ISP sends the following RA message:
```
tcpdump -vvvv -n icmp6 and ip6[40] == 134

ICMP6, router advertisement, length 56
 hop limit 64, Flags [other stateful], pref medium, router lifetime 1800s, reachable time 300000ms, retrans timer 10000ms
  source link-address option (1), length 8 (1): <ISP MAC>
  prefix info option (3), length 32 (4): <IPv6 Prefix>::/64, Flags [onlink, auto], valid time 2592000s, pref. time 604800s
```
but `ifstatus wan6` does not show any ipv6-prefix:
```
"ipv6-address": [
        {
                "address": "<IPv6 Prefix>::<IPv6 Suffix>",
                "mask": 64,
                "preferred": 604543,
                "valid": 2591743
        }
],
"ipv6-prefix": [

],
"ipv6-prefix-assignment": [

],
```
and `ip -6 a` shows
```
wan@eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 1000
 inet6 <IPv6 Prefix>::<IPv6 Suffix>/64 scope global dynamic noprefixroute
    valid_lft 2591823sec preferred_lft 604623sec
```
Even though ipv6-prefix is reported empty by `ifstatus wan6` the router IPv6 has mask 64 and all LAN clients get SLAAC addresses with mask 64 based on the ISP RA message.

> 2. How did your WAN interface get this prefix? Using which protocol/mechanism?

DHCPv6 client

> 3. When you "`make the LAN interface static and assign ipv6 to the LAN interface manually`", as you said above, your LAN clients get an IPv6 address, have you confirmed that that address actually works - i.e. that it is a GUA and that the clients can communicate with a IPv6 server on the Internet using that address?

I can access IPv6 only websites with no problems and get 10/10 score at https://test-ipv6.com/



So the ISP's own RA msg tells your router to get adresses via DHCP, the `stateful` part in the RA message is the `M` flag from [RFC4861, §4.2](https://www.rfc-editor.org/rfc/rfc4861#section-4.2):


```
M              1-bit "Managed address configuration" flag.  When
                     set, it indicates that addresses are available via
                     Dynamic Host Configuration Protocol...
```

The router then tries DHCPv6, as instructed:


```
...dhcp6 solicit...(IA_NA IAID:1 T1:0 T2:0) (IA_PD IAID:1 T1:0 T2:0))
...dhcp6 advertise...(status-code NoPrefixAvail))
...dhcp6 solicit...(IA_PD IAID:1 T1:0 T2:0))
...dhcp6 advertise...(status-code NoPrefixAvail))
...dhcp6 inf-req...
...dhcp6 reply...<various info that looks bogus>
```

So your client first asked for an address (`IA_NA`) and prefix (`IA_PD`), but gets a NACK from the remote server (`NoPrefixAvail`).

It then tries again, but only requests a prefix, and gets another NACK.

Finally it just asks for info, and gets info which looks bogus...

Which ISP is this, if you don't mind me asking? And which kind of connection...? Because the ISPs IPv6 setup seems pretty broken from what I can tell...Does the ISP advertise IPv6 support?



The ISP is BB.Exicte (https://bb.excite.co.jp/ftth/). From the point of IPv6 specs it is broken :-) but it works, and IPv6 is the only thing it provides. IPv4 is provided via DS-Lite gw.transix.jp tunnel (most of Japan internet IPv6 fiber connections are setup via gw.transix.jp or dgw.xpass.jp) :
```
config interface 'wan4'
        option proto 'dslite'
        option peeraddr 'gw.transix.jp'
        option encaplimit 'ignore'
        option mtu '1460'
```
The DNS servers and DNS search path you see at the end of DHCPv6 handshake are needed for gw.transix.jp to be resolved and bring up the tunnel.

I am thinking of bridging wan and br-lan for the setup to be IPv6 compliant, in this case br-lan and wan will be on the same link, I did not figured out yet how to do it. Any ideas?

> You did not mention that the RA message has Prefix info (GUI::/64) and Flags: onlink, auto. This allows SLAAC (Stateless Address Autoconfiguration) and this is how OpenWrt gets it IP address.

Yeah, but I already detailed that in an earlier msg https://github.com/openwrt/odhcpd/issues/216#issuecomment-3327405040

> After I provided the tcpdump trace I realized that I don't need to ask for IA_NA and IA_PD via DHCPv6 (they are not available anyway), so I adjusted the wan configuration:
> 
> ```
> config interface 'wan6'
>         option device 'wan'
>         option proto 'dhcpv6'
>         option verbose '1'
>         option ifaceid '::2'
>         option reqaddress 'none'
>         option reqprefix 'no'
>         option proxy_ndp '1'
> ```

Hm, I don't think `proxy_ndp` does anything, at least not in `odhcpd`.

> The ISP is BB.Exicte (https://bb.excite.co.jp/ftth/). From the point of IPv6 specs it is broken :-) but it works, and IPv6 is the only thing it provides. IPv4 is provided via DS-Lite gw.transix.jp tunnel (most of Japan internet IPv6 fiber connections are setup via gw.transix.jp or dgw.xpass.jp) :

Hm, I have little experience with Japanese ISPs, but they seem to have "interesting" setups.

My Japanese is non-existant, but after some quick Googling I found [this page](https://bbhelp.excite.co.jp/hc/ja/articles/900002042906-IPoE-IPv4-over-IPv6-%E5%AF%BE%E5%BF%9C%E3%83%AB%E3%83%BC%E3%82%BF%E3%83%BC%E3%81%AE%E7%B4%B9%E4%BB%8B) which mentions `DHCPv6 PD`.

But then I also came across documents like [this one](https://www.allied-telesis.co.jp/support/list/awp/rel/5.4.9-1.1/613-002107_AA/docs/overview-339.html) that actually seems to suggest that you might be expected to do something like what you're doing.

Thinking you can't be the first person who wants to setup OpenWrt in Japan, I came across [this](https://qiita.com/site_u/items/4b8076cb8c9b05bc3f9a)...it links to scripts that they seem to claim would setup OpenWrt for Japanese end-users.

Specifically [this script](https://github.com/site-u2023/config-software/blob/main/internet-config.sh), which (if I understood correctly) would run [this script](https://github.com/site-u2023/config-software/blob/main/ds-lite.sh)...some excerpts:

```
# DHCP LAN
uci set dhcp.lan.ra='relay'
uci set dhcp.lan.dhcpv6='server'
uci set dhcp.lan.ndp='relay'
uci set dhcp.lan.force='1'

# WAN
uci set network.wan.auto='0'

# DHCP WAN6
uci set dhcp.wan6=dhcp
uci set dhcp.wan6.ignore='1'
uci set dhcp.wan6.master='1'
uci set dhcp.wan6.ra='relay'
uci set dhcp.wan6.dhcpv6='relay'
uci set dhcp.wan6.ndp='relay'
```

Have you tried something along those lines?