[RFC8987, §4.1](https://datatracker.ietf.org/doc/html/rfc8987#section-4.1), requirement G-1 says that we shouldn't. Is there some kind of measurable performance degradation when using the slightly higher ONT MTU? I can see that there might be room for improvement here. 

Have you tried asking the ISP to change it?

> [RFC8987, §4.1](https://datatracker.ietf.org/doc/html/rfc8987#section-4.1), requirement G-1 says that we shouldn't.

That's for DHCP though...I'm not sure about the RA case...


> > Who told you that? The PPPoE header is 8 bytes, making 1492 the usual recommendation for PPPoE scenarios...?
> 
> I understand 1492 bytes is the default MTU. However in my case I was facing issue using my employer's VPN and I was told by the IT team to try lowering the MTU to 1480 bytes which they recommend for users with PPPoE WAN.

Out of curiosity, which VPN solution is it? A 12 byte MTU overhead is unusual...

And does the VPN terminate at the OpenWrt router or at the downstream client device?

@Alphix 
PaloAlto GlobalProtect VPN (IPsec).

VPN terminates at downstream LAN device (Windows 11 Laptop).